#mapa {
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.latlng {
    position: absolute;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    padding-left: 6px;
    padding-block: 3px;
    font-size: 10px;
    z-index: 1000;
}