<ion-app>
  <ion-menu type="overlay" contentId="main-content">
    <ion-header>
      <ion-toolbar color="translucent">
        <ion-menu-toggle>
          <ion-grid class="ion-margin">
            <ion-row>
              <ion-icon name="person-circle" size="large"></ion-icon>
              <ion-title>Useasjkdhfkasdjhfbaiyvefiauwbefiuvabwhevakiuwevbhakiweviuawbhefviuawhbefvhabwkieufbhvakiweuhbvkiaweuhbfvkaiwuehbfvkiauwebhvfikawuhevaiwuehfbvkiawvuehfkivauhwbefkivuahbwekifvuhbakwieufhvbakiweuhfvbakiwuehbvkaiweubhfvakiwuehfvkiawuebhfkviawbhefrhahahaha</ion-title>
            </ion-row>
          </ion-grid>
        </ion-menu-toggle>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-menu-toggle>
        <app-navigation></app-navigation>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>

  <ion-router-outlet></ion-router-outlet>
</ion-app>
