<ion-button class="home" color="success" expand="full" fill="clear" routerLink="/">
  <ion-icon slot="start" name="home-outline"></ion-icon>
  Home
  </ion-button>
<ion-button class="other" color="success" expand="full" fill="clear" routerLink="/location">
  <ion-icon slot="start" name="navigate-outline"></ion-icon>
  Location
</ion-button>
<ion-button class="other" color="success" expand="full" fill="clear" routerLink="/settings">
  <ion-icon slot="start" name="settings-outline"></ion-icon>
  Settings
</ion-button>